<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<h2>Dimitrija Belivakica e3 3/10 Negotin</h2>
<h3>19300 Negotin/Serbia</h3>


<p> <%= number_to_phone "5555555" %> </p>
<p> <%= number_to_currency "55512" %> </p>
<p> <%= number_to_percentage "55512" %> </p>
<p> <%= number_with_delimiter "5551212314" %> </p>




