<h1>Would you like to work together?</h1>

<div class='row'>

    <div class='col-md-6'>
        <address>
            <p>Dimitrija Belivakica e3 3/10 Negotin </p>
            <p>19300 Negotin - Srbija
                </p>
        </address>
        <p><a href="mailto:vladanng@gmail.com?subject=PortfolioContact">Email me</a></p>
        <p>Mob. Phone: <%= number_to_phone "0637312033" %> </p>
    </div> <!-- col-md-6 -->

    <div class='col-md-6'>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2859.0505881643453!2d22.518343602615072!3d44.22661685773502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4753954a447b748d%3A0x3de582a3177c6250!2z0JTQuNC80LjRgtGA0LjRmNCwINCR0LXQu9C40LLQsNC60LjRm9CwLCDQndC10LPQvtGC0LjQvQ!5e0!3m2!1ssr!2srs!4v1566472545751!5m2!1ssr!2srs"
            width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>  <!-- col-md-6 -->

</div>