<main role="main" class="inner cover">
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text,
    and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <%= link_to "About me", about_path, class: "btn btn-lg btn-secondary"  %>
  </p>
</main>





<!-- THis IS VIEW FROM MODAL/VIEW/CONTROLLER
it gets it's variables to use/data to use, from CONTROLLER(pages_controller.rb)
#and we can even embed ruby code here in home.html.erb files. so actually html/rb files, to add some more functionaliy on those data
@posts.each => will loop trought Array we get from Blog.all
Blog.all will call the model and all method on that model(object class instance) which will return us a array with hashes of data

my blog post is 7
:my_name is prop of hash, we hit it, with Symbol class instance keyword :<name>
-->